body {
  font-family: "DM Sans", "sans-serif";
}
.square-radio {
  appearance: none;
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid #c0bebe;
  background-color: #fff;
  cursor: pointer;
  margin-top: 5px;
}

.square-radio:checked {
  background-color: #000;
}
.lineShadow-r:hover {
  -webkit-box-shadow: 10px 0px 21px 0px rgba(179, 175, 179, 1);
  -moz-box-shadow: 10px 0px 21px 0px rgba(179, 175, 179, 1);
  box-shadow: 10px 0px 21px 0px rgba(179, 175, 179, 1);
}
.lineShadow-l:hover {
  -webkit-box-shadow: -10px 0px 21px 0px rgba(179, 175, 179, 1);
  -moz-box-shadow: -10px 0px 21px 0px rgba(179, 175, 179, 1);
  box-shadow: -10px 0px 21px 0px rgba(179, 175, 179, 1);
}
